<body>
  <mat-sidenav-container
      class="example-container" (backdropClick)="close()">    
  <mat-sidenav #sidenav (keydown.escape)="close() " disableClose>
      <p><button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button></p>
      <div>
      <ul class='links'>
          <li><a class='nav-link' routerLink="/home"><mat-icon>home</mat-icon> Home</a></li>
          <li><a class='nav-link' routerLink="/bmi"><mat-icon>set_meal</mat-icon> Macros Calculation</a></li>
          <li><a class='nav-link' routerLink="/work-out"><mat-icon>fitness_center</mat-icon> Work Out</a></li>
      </ul>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="header">
        <mat-icon class="menu"(click)="sidenav.open()">menu</mat-icon>
        <span>
          <a href="https://linkedin.com/in/thi-kieu-vi-nguyen-0894a919a">My Linkedin</a>
        </span>
      </div>    
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</body>