
<div id="form" [ngClass]="{'sunrise': isDay, 'moonrise': !isDay}">
    <mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></mat-progress-bar> 
    <form [formGroup]="weatherDataGroup">
        <mat-form-field color="accent" >
            <mat-label>City</mat-label>
            <input matInput type='text' formControlName="city" placeholder="Enter a city"
                    [matAutocomplete]="auto">
            <mat-autocomplete  autoActiveFirstOption #auto="matAutocomplete"> 
                <mat-option  *ngFor="let option of filteredOptions | async " [value]="option.name" (click)="changeValue(option)">
                    <p> <span>{{ option.name }}</span> - {{option.state != '' ? option.state + ', ' : ''}} {{ option.country }}</p>
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="weatherDataGroup.get('city').errors?.requireMatch">
                Please enter a valid city
            </mat-error>
        </mat-form-field>
        <mat-form-field class="units" color="accent">
            <mat-label>Units</mat-label>
            <mat-select formControlName="unit">
                <mat-option value="metric">Celsius</mat-option>
                <mat-option value="imperial">Fahrenheit</mat-option>
            </mat-select>      
        </mat-form-field>  
        <button mat-raised-button (click)="getWeatherByCity()">
            Submit
        </button>
    </form>
    <div class="divWeatherMain">
        <div class="main">
            <div style="font-size: 90px;">{{weatherData.main.temp | number: '1.0-0'}}°{{unit=='metric' ? 'C' : 'F'}}</div>
            <div style="margin-top: 30px;">
                <img src='http://openweathermap.org/img/w/{{weatherData.weather[0].icon}}.png'>
                <div style="margin-top: -10px;">{{weatherData.weather[0].description}}</div>
            </div>
            <div>{{weatherData.main.temp_min | number: '1.0-0'}}° - {{weatherData.main.temp_max | number: '1.0-0'}}°</div>
            <div>Feels Like: {{weatherData.main.feels_like | number: '1.0-0'}}°</div>
        </div>
        <div class="weatherWidgetRow">
            <div style="font-size: 40px;"><mat-icon>location_on</mat-icon>{{weatherData.name}}, {{state ? state + ', ' : '' }} {{weatherData.sys.country}} </div>
            <div> <button mat-icon-button (click)="getWeatherByCity()"><mat-icon>update</mat-icon></button> Updated {{localTime|date:"medium"}} </div>
            <div style="padding-left: 10px;">Humidity: {{weatherData.main.humidity}}%</div>
            <div style="padding-left: 10px;">Wind: {{ weatherData.wind.speed }} {{unit=='metric' ? 'm/s' : 'mph'}}</div>
        </div>
        <div [ngClass]="{'sun': isDay, 'moon': !isDay}"></div> 

    </div>
    <div class="run">
        <p style="margin-top: -10px;">
            Are you planning to run today?
            <button mat-icon-button (click)="toggleTips()"><mat-icon id="showTip"> {{ showTip ? 'keyboard_arrow_left' : 'keyboard_arrow_right' }}</mat-icon></button> 
        </p>
        <p *ngIf="showTip" class="tips">
            <span *ngIf="!extremeTemp; else extreme">
                <ul *ngFor='let tip of tipList' >
                    <li>{{ tip }}</li>
                </ul>
            </span>
        <ng-template #extreme>Extreme temperature recorded</ng-template> 
        </p>
    </div>    
</div>

    
    <!-- <ng-template #isLoading class="divWeatherMain"><mat-icon>cloud_queue</mat-icon></ng-template>      -->

