<header>
    <div class="button" (click)='onBack()'>
    <span>Back</span>
    </div>
</header>
<body>    
    <p><mat-icon>beach_access</mat-icon></p>
    <p>
    <span>It is a rest day!!! Feel free to do some cardio exercises such as swimming, running, power walking, cycling, hiking. </span>
    <span>Weight traning is important for your metabolism and your muscles. Cardio is essential for a healthy heart. It's good to alternate weight traning and cardio for your workout routine.<a href="https://www.exercise.com/learn/how-should-i-mix-weight-training-and-cardio/">For more information.</a></span>
    </p>
    <p>HOWEVER, here are some <a href="https://www.nbcnews.com/better/lifestyle/5-times-when-you-shouldn-t-work-out-ncna1068281">scenarios</a> when you should consider to let your body have a rest day</p>
    <ul>
        <li>You are really stressed</li>
        <li>You are sleep deprived</li>
        <li>You are feeling under the weather</li>
        <li>You are really sore</li>
    </ul>
    <p> If you decide to run today, check out today's weather and the right outfits for your run<button mat-icon-button (click)='onBackHome()'><mat-icon>home</mat-icon></button>
    </p>
</body>